/* // tab-bar */
.logo{
    margin: 0;
}

.logodeptabbar{
    width: 200px;
    height: auto;
}

.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.indicator{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 40px;
    background-color: #78C0E6;
    border-radius: 30px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2,1);
}

.tab-container{
    position: relative;
    display: flex;
    width: fit-content;
    margin: 10px 10px 10px auto;
    gap: 25px;
    background-color: #F3E6A2;
    border-radius: 33px;
    padding: 10px 15px;
    z-index: 999;
}

.tab-link{
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #184274;
    padding: 10px 15px ;
    border-radius: 30px;
    transition: all 0.4s ease;
    opacity: 0.6;
}


.tab-link .icon{
    width: 20px;
    height: 20px;
    display: block;
}

.tab-link .label{
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    white-space: nowrap;
    transition: all 0.4s ease;
    font-weight: bold;
    margin-left: 0;
}

.tab-link.active{
    color: #184274;
        background-color: #78C0E6;
    opacity: 1;
    animation: pop 0.3s ease;
}

@keyframes pop{
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

.tab-link:hover{
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.tab-link.active .label{
    display: inline-block;
    max-width: 150px;
    opacity: 1;
    margin-left: 10px;
}

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}

.hamburger span{
    width: 40px;
    height: 4px;
    background-color: #F3E6A2;
    border-radius: 5px;
    transition: all 0.4s ease;
}

@media (max-width: 768px){

    .hamburger{
        display: flex;
        z-index: 1001;
    }

    .tab-container{
        position: absolute;
        top: 70px;
        right: 10px;
        flex-direction: column;
        background-color: #F3E6A2;
        padding: 20px;
        border-radius: 20px;

        transform: translateX(120%);
        transition: transform 0.4s ease;
    }
    .tab-container.active{
        transform: translateX(0);
    }
}