/* // tab-bar */
.tab-container{
display: flex;             /* จัดให้เรียงแนวนอน */
    justify-content: right;   /* จัดให้อยู่ตรงกลาง (ถ้าชอบชิดซ้ายให้ลบออก) */
    margin-top: 32px;
    margin-right: 30px;
    margin-bottom: 20px;
    gap: 22px;
}

.tab-link{
    text-decoration: none;
    color: #184274;
    padding: 10px 20px ;
    background-color: #78C0E6;
}