@media (max-width: 768px){
  .indicator{ display: none; }

  .hamburger{
    display: flex;
  }

  .hamburger span{
    background-color: #F3E6A2;
  }

  .topbar{
    position: relative;
    z-index: 3000;
  }

  .tab-link{
    background: transparent;
    opacity: 1;
    width: 125px;
    justify-content: flex-start;
  }

  .tab-link.active{
    width: 125px;
    color: #184274;
    background-color: #78C0E6;
    opacity: 1;
    animation: pop 0.3s ease;
  }

  .tab-container{
    position: absolute;
    top: 65px;
    right: -280px;
    height: fit-content;
    width: 150px;
    flex-direction: column;
    background-color: #F3E6A2;
    padding: 20px;
    border-radius: 20px;
    transform: translateX(120%);
    transition: transform 0.35s ease;
    pointer-events: none;
  }

  .tab-container.active{
    transform: translateX(0);
    right: 0px;
    pointer-events: auto;
  }

}