@font-face {
  font-family: 'Kodchasan';
  src: url('../font/Kodchasan-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'K2D';
  src: url('../font/TH\ K2D\ July8.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* background + base */
body{
  margin: 0;
  padding: 0;
  background-color: #184274;
}